/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --- fin du reset --- */
body {
  font-family: "SF Pro Display", Helvetica, Arial, sans-serif;
  font-size: 0.875em; /*14/16*/
  text-align: center;
  color: #1d1d1f;
}
h2 {
  font-size: 2.285714285714286em; /*32/14*/
  font-weight: 600;
  letter-spacing: 0.01em; /*10/1000*/
}
.subhead {
  font-size: 1.357142857142857em; /*19/14*/
  letter-spacing: 0.01em; /* 10/1000 */
}
.cta-links a {
  color: #2997ff;
  font-size: 1.357142857142857em; /*19/14*/
  letter-spacing: 0.02em; /* 20/1000 */
  font-weight: 300;
  text-decoration: none;
}
.cta-links a + a {
  margin-left: 28px;
}
.price {
  color: #86868b;
  letter-spacing: 0.045em; /*45/1000*/
  margin: 0 auto 15px;
  width: 213px;
  line-height: 1.42857143; /*20/14*/
}
.price sup {
  vertical-align: top;
  font-size: 0.57142857em; /*8/14*/
}
/* -------------- */
/* --- header --- */
/* -------------- */
header {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 0.85714286em; /*12/14*/
  padding-bottom: 1.14285714em; /*16/14*/
  position: absolute;
  width: 100%;
}
/* ---------------- */
/* --- Products --- */
/* ---------------- */
.apple-watch-container,
.iphone12-container,
.iphone12pro-container {
  background-image: url("../img/watch-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 2.85714286em; /*40/14*/
  padding-bottom: 24.5em; /*343/14*/
}
.iphone12-container,
.iphone12pro-container {
  padding-top: 3.35714286em; /*47/14*/
  padding-bottom: 22.5714285em; /*316/14*/
}
.iphone12-container {
  background-image: url("../img/iphone12.jpg");
}
.iphone12pro-container {
  background-image: url("../img/iphone12pro.jpg");
}

/* ------------------- */
/* --- Apple Watch --- */
/* ------------------- */
.apple-watch-container {
  padding-top: 6.28571429em; /*88/14*/
}
.apple-watch-container h2 {
  text-transform: uppercase;
  font-size: 2em; /*28/14*/
  letter-spacing: 0;
  margin-bottom: 6px;
  color: white;
}
.serie {
  font-size: 0.85714286em; /*12/14*/
  font-weight: 300;
  color: #ca4232;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.apple-watch-container .subhead {
  margin-bottom: 15px;
  color: white;
}
.apple-watch-container h2 svg {
  margin-right: 4px;
}

/* ---------------- */
/* --- iphone12 --- */
/* ---------------- */
.iphone12-container h2,
.iphone12pro-container h2 {
  margin-bottom: 3px;
}
.iphone12-container .subhead,
.iphone12pro-container .subhead {
  margin-bottom: 10px;
}
/* -------------------- */
/* --- iphone12 Pro --- */
/* -------------------- */
.iphone12pro-container .subhead,
.iphone12pro-container h2 {
  color: white;
}
/* ------------------------- */
/* --- Footnote & Footer --- */
/* ------------------------- */

.footnote,
footer {
  background-color: #f5f5f7;
  text-align: left;
  font-size: 0.85714286em; /*12/14*/
  color: #86868b;
  padding-left: 16px;
  padding-right: 16px;
}
.footnote {
  padding-top: 1.58333333em; /*19/12*/
}
.footnote ol {
  list-style: decimal;
  list-style-position: inside;
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 1.83333333em; /*22/12*/
  margin-bottom: 2.66666667em; /*32/12*/
}
.footnote ol li {
  line-height: 1.33333333; /*16/12*/
}
.footnote li + li {
  margin-top: 1em;
}
.footnote ul a {
  color: #1d1d1f;
  text-decoration: none;
}
.footnote ul li {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 1em;
}
/* --- Footer --- */
footer {
  padding-top: 1.5em; /*18/12*/
  padding-bottom: 0.66666667em; /*8/12*/
}
footer a {
  color: #0066cc;
  text-decoration: none;
  line-height: 1.33333333; /*16/12*/
}
